.container--environment .container--slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.container--environment .logo{
    background-color: var(--orangecolor);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--environment .container--slide .align-left{
    display: flex;
    align-items: center;
    gap: 25px;
}

.container--environment .container--slide p{
    color: #00AEEF;
    text-align: center;
    font-family: var(--fontvietnam);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container--environment .slide{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.container--environment .container--slide .align-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container--environment .container--slide .align-right .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 8px;
}

.container--environment .container--slide .align-right .left .bottom{
    color: #FF3B30;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container--environment .container--slide .align-right .left .top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container--environment .container--slide .align-left .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

.container--environment .container--slide .align-left .right .top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container--environment .container--slide .align-left .right .bottom, .container--environment .container--slide .align-left{
    color: #FF3B30;
    text-align: left;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}