.container--3p{
    background-color: var(--backgroundcolor);
    margin: 70px 100px;
    padding: 50px 40px;
    border-radius: 30px;
    font-family: var(--fontvietnam);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container--3p .container--3p__component--field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    align-items: center; /* Căn giữa theo chiều dọc */
}


.container--3p .container--3p__component--field .title{
    text-align: right;
}

.container--3p .container--3p__component--field .title p{
    color: var(--orangecolor);
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container--3p .container--3p__component--field .title p span{
    color: var(--violetcolor);
}