.otp-container {
    position: relative;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.otp-box {
    width: 800px;
    height: 100px;
    background: #E0F7FA;
    border: 3px solid #00AEEF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-lines {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: -20px;
}

.otp-line {
    width: 47.06px;
    height: 3px;
    background: #00AEEF;
}

.otp-info {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    color: #121212;
    margin-top: 10px;
    text-align: center;
}

.resend-otp {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #00AEEF;
    margin-top: 10px;
    text-align: center;
}

.orange-text {
    color: var(--orangecolor);
}

.violet-text {
    color: var(--violetcolor);
}